text {
    fill: white;
}

#background {
  fill: black;
}

#clock_label {
    x: 40%;
    y: 60%;
    text-length: 5;
    font-size: 82;
}

#date_label {
    x: 35%;
    y: 30%;
    text-length: 10;
    font-size: 42;
}

#day_label {
    x: 5%;
    y: 30%;
    text-length: 3;
    font-size: 42;
}

.stats_label {
    x: 1%;
    y: 50%;
    font-size: 28;
}

.stats_text {
    x: 1%;
    y: 60%;
    font-size: 28;
    text-length: 9
}